<!DOCTYPE html>
<html>
<head>
    <title>Simple Twitter</title>
</head>
<body>
    <h2>Post a Chat</h2>
    <form method="post" action="/post_chat">
        <textarea name="content" placeholder="What's happening?" required></textarea>
        <input type="submit" value="Post">
    </form>
    <h2>Chats</h2>
    <ul>
        {% for chat in chats %}
        <li>{{ chat['username'] }} {{ chat['timestamp'] }} <br> {{ chat['content'] }}</li>
        {% endfor %}
    </ul>
    <h2>Follow Users</h2>
    <ul>
        {% for user in all_users %}
            <li>{{ user.username }}
                {% if current_user.is_following(user) %}
                    <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
                {% else %}
                    <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>
